// bootstrap 
@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
// colors
@use './partials/variables.scss' as *;
// Font
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;500;600;700&family=Open+Sans&family=Poppins:wght@300;400&display=swap');

// Common rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $el-darker;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    color: $el-darker;
    font-size: 0.8rem;
    font-family: $el-font-sans;
    font-weight: 300;
}

h2 {
    font-family: $el-font-serif;
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-family: $el-font-serif;
    font-size: 2rem;
    font-weight: 700;
}

hr {
    width: 2.5rem;
    color: $el-primary;
    background: $el-primary;
    border: 0;
    height: 1px;
}

// Button 
button {
    border: none;
    padding: 0.4rem;
    text-transform: uppercase;
    display: flex;
}

.buttonPrimary {
    background-color: $el-primary;
    color: $el-lighter;

    img {
        color: $el-lighter;

    }
}

.buttonSecondary {
    background-color: $el-lighter;
    color: $el-darker;
    font-family: $el-font-sans;

    img {
        color: $el-darker;

    }
}

// Utility
.primaryColor {
    color: $el-primary;
}

.center {
    text-align: center;
}

// Container page
.elContainerMid {
    max-width: 686px;
    width: 100%;
    margin: 0 auto;
}

.elContainerFull {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
}