// bootstrap 
@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
// colors
@use './partials/variables.scss' as *;
// Font
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Noto+Serif+Khojki:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');


// Common rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $el-light;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    color: $el-text-middle-dark;
    font-size: 0.7rem;
    font-family: $el-font-sans;
    font-weight: 300;
}

h2 {
    font-family: $el-font-serif;
    font-size: 4rem;
    font-weight: 700;
}

h3 {
    font-family: $el-font-serif;
    font-size: 2rem;
    font-weight: 700;
}

hr {
    width: 2.5rem;
    color: $el-primary;
    background: $el-primary;
    border: 0;
    height: 1px;
}

// Button 
button {
    border: none;
    padding: 0.4rem;
    text-transform: uppercase;
    display: flex;
    font-family: $el-font-sans;
    font-size: 0.8rem;
}

.buttonFormSubscribe {
    background: none;
    color: $el-lighter;
    font-size: 0.6rem;
}

// Utility
.primaryColor {
    color: $el-primary;
}

.center {
    text-align: center;
}

.primaryDot::after {
    color: $el-primary;
    content: ".";
}

// Container page
.elContainerMid {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
}

.elContainerFull {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}