// Colors
$el-primary: #FF4612;
$el-lighter: #FFF;
$el-darker: #000;

// Background colors
$el-light: #FAFAFA;

// Fonts
$el-font-sans: 'Poppins', sans-serif;
$el-font-serif: 'Noto Serif Khojki', serif;