// Colors
$el-primary: #FF4612;
$el-lighter: #FFF;
$el-darker: #000;
$el-text-middle-dark: #606060;

// Background colors
$el-light: #FAFAFA;
$el-dark-bg: #1E1C1C;
$el-darker-bg: #181515;
$el-news-bg: #e1e1e1;


// Border colors
$el-border-contrast: #cccccc;

// Fonts
$el-font-sans: 'Poppins', sans-serif;
$el-font-serif: 'Noto Serif Khojki', serif;
$el-font-sign: 'Freehand', cursive;